@import '~bootstrap/dist/css/bootstrap.min.css';
.loginForm{
    font-size: 1.5rem;
    padding-top: 10%;
}
.form-control{
    width: 20rem;
}
.main{
    width: 20%;
    margin: 0 auto;
}
.error{
    color: red; 
}
.logo{
    margin-left: -25%;
    padding-top: 70%;
    width: 120%;
}
#main-wrapper{
    height: stretch;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(/assets/images/home2.png);
    object-fit: cover;
}
button{
    float: right;
    width: 10rem;
    margin-top: 0.5rem;
}