<div class="main">
  <h1>Login</h1>
  <form class="loginForm" (submit)="loginuser()">
    <table>
      <tbody>
        <tr>
          <td><label>Email: </label></td>
          <td><input type="text" name="email" [(ngModel)]="login.email"></td>
        </tr>
        <tr>
          <td><label>Password: </label></td>
          <td><input type="text" name="password" [(ngModel)]="login.password"></td>
        </tr>
        <tr>
          <td></td>
          <td><button class="formbutton" type="submit">Submit</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>