<div id="wrapper">
<nav id="navbar" class="navbar navbar-expand-lg">
    <img class="logo" src="../assets/images/logo_only.png" alt="Cold Logo">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="sidebar" class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" [routerLink]="['/main/']"></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/main/']"><img src="../assets/images/icons/acct_ic.png" alt="account">Settings<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/main/storview']"><img src="../assets/images/icons/freezer_ic.png" alt="freezer">Freezers</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/main/']"><img src="../assets/images/icons/home_ic.png" alt="home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/main/newuser']"><img src="../assets/images/icons/reg_ic.png" alt="register">New User</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input id="search-field" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button id="search-btn" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="tickerContainer myStyles" *ngIf="feedExist">
    <div ticker [text]=feed [speed]="15" [padding-left]="innerWidth" [size]="20"></div>
</div>
<div id="ghost"></div>
</div>
<div id="sidebar">
<nav class="nav flex-column">
  <a class="nav-link" [routerLink]="['/main/labview']">View All Labs</a>
  <a class="nav-link" [routerLink]="['/main/storview']">View All Freezers</a>
  <a class="nav-link" [routerLink]="['/main/sampview']">View All Samples</a>
  <a class="nav-link" [routerLink]="['/main/allusers']">View All Users</a>
  <a class="nav-link" [routerLink]="['/main/labnew']">Create Lab</a>
  <a class="nav-link active" [routerLink]="['/main/stornew']">Create Freezer</a>
  <a class="nav-link" [routerLink]="['/main/sampnew']">Create Sample</a>
</nav>
</div>
<router-outlet></router-outlet>
