@import '~bootstrap/dist/css/bootstrap.min.css';
*{
    margin: 0px;
    padding: 0px;
}
.logo{
    padding-top: 18px;
    width: 20%;
}
#navbar{
    height: 70px;
    background-image: url(/assets/images/helix.png);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar{
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: top;
    border-radius: 0px 5px 5px 0px;
    margin-top: 3%;
    width: 15%;
    background-color: #0ea2dc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a{
    color: white;
}
ul {
    margin-left: 60%;
}

#ghost{
    display: inline-block;
    height: 0;
    position: absolute;
}
.tickerContainer{
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;

}
.myStyles{
    background: #eee;   
    color: red;
    border: 1px solid #ddd;
    max-width: 100%;
    cursor: pointer;
}
#search-div{
    position: fixed;
    left: 62%;
    top: 15%;
    width: 37%;
    display: inline-block;
    vertical-align: top;
    
}
