.loginForm{
    padding: 10px; 
}


.main{
    font-size: 1.5rem;
    margin-top: 5%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: top;
    width: 500px; 
}

.formbutton{
    padding: 10px; 
    color: white; 
    background-color: steelblue;
    border: none; 
    border-radius: 8px; 
}

.error{
    color: red; 
}
#btn{
    float: right;
}