<p>
  storedit works!
</p>
<h1>Edit Storage</h1>
<form (submit)="onSubmit()">
	<table>
		<tr>
			<td>Name:</td>
			<td><input type="text" name="name" id="name" [(ngModel)]="storage.name"></td>
		</tr>
		<tr>
			<td>Type:</td>
			<td><input type="text" name="type" id="type" [(ngModel)]="storage.type"></td>
		</tr>
		<tr>
			<td>Temperature:</td>
			<td><input type="text" name="temp" id="temp" [(ngModel)]="storage.temp"></td>
		</tr>
		<tr>
			<td>Current Location:</td>
			<td>{{storage.location.name}}</td>
		</tr>
		<tr>
			<td>Location:</td>
			<td><select name="location" [(ngModel)]="storage.location">
				<option *ngFor="let each of allLabs" [ngValue]="each">{{each.name}}</option>
			</select></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Update Lab"></td>
		</tr>
	</table>
</form>