<h2>New Storage</h2>
<a [routerLink]="['/main/storview']">Go back</a>
<form (submit)="onSubmit()">
	<table>
		<tr>
			<td>Name:</td>
			<td><input type="text" name="name" id="name" [(ngModel)]="newStorage.name"></td>
		</tr>
		<tr>
			<td>Type:</td>
			<td><input type="text" name="type" id="type" [(ngModel)]="newStorage.type"></td>
		</tr>
		<tr>
			<td>Temperature:</td>
			<td><input type="text" name="temp" id="temp" [(ngModel)]="newStorage.temp"></td>
		</tr>
		<tr>
			<td>Lab Located:</td>
			<td><select name="location" [(ngModel)]="newStorage.location" (change)="test()">
				<option *ngFor="let each of allLabs" [ngValue]="each">{{each.name}}</option>
			</select></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Create Lab"></td>
		</tr>
	</table>
</form>