<div>
  <div class='wrapper'>
    <div *ngIf="!dragula1" class="dragula1">
      <table>
        <tr>
          <td>Lab:</td>
          <td>
            <select [(ngModel)]="lab1" name="lab1" (change)="getLab(1, this.lab1)">
              <option *ngFor="let each of allLabs" [ngValue]="each._id" (click)="showStorages(1)">{{each.name}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td *ngIf="showStorage1">Storage:</td>
          <td *ngIf="showStorage1">
            <select [(ngModel)]="storage1ID" name="storage1ID" (change)="createDragula(1)">
              <option *ngFor="let each of availableStorages1" [ngValue]="each._id" >{{each.name}}</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="dragula1" class='container dragula1' [dragula]='"first-bag"' [dragulaModel]='storage1.sampleList'>
        <div *ngFor='let sample of storage1.sampleList' [innerHtml]='sample.name'></div>
    </div>
    <div *ngIf="!dragula2" class="dragula2">
      <table>
        <tr>
          <td>Lab:</td>
          <td>
            <select [(ngModel)]="lab2" name="lab2" (change)="getLab(2, this.lab2)">
              <option *ngFor="let each of allLabs" [ngValue]="each._id" (click)="showStorages(2)">{{each.name}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td *ngIf="showStorage2">Storage:</td>
          <td *ngIf="showStorage2">
            <select [(ngModel)]="storage2ID" name="storage2ID" (change)="createDragula(2)">
              <option *ngFor="let each of availableStorages2" [ngValue]="each._id" >{{each.name}}</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="dragula2" class='container dragula2' [dragula]='"first-bag"' [dragulaModel]='storage2.sampleList'>
        <div *ngFor='let sample of storage2.sampleList' [innerHtml]='sample.name'></div>
    </div>
  </div>
  <button (click)="applyChanges()">Apply Changes</button>
</div>