@import '~bootstrap/dist/css/bootstrap.min.css';
#main{
    margin-top: 5%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: top;
    width: 500px; 
}
.dragula1{
    font-size: 1.5rem;
    padding-right: 5%;
    width: 40%;
    display: inline-block;
    padding: 10px 15px;
    margin-right: 20px;
    margin-left: -20px;
    vertical-align: top
}
.dragula2{
    font-size: 1.5rem;
    width: 40%;
    display: inline-block;
    padding: 10px 15px;
    margin-left: 60px;
    vertical-align: top
}
#drag1, #drag2{
	width: 160px;
	display: inline-block;
	vertical-align: top;
}

button{
	margin top: 10px;
}
