@import '~bootstrap/dist/css/bootstrap.min.css';
#main{
    margin-top: 5%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: top;
    width: 500px; 
}
.dragula1{
    font-size: 1.5rem;
    padding-right: 5%;
    width: 40%;
    display: inline-block;
    padding: 10px;
    vertical-align: top
}
.dragula2{
    font-size: 1.5rem;
    width: 40%;
    display: inline-block;
    padding: 10px;
    vertical-align: top
}
.container{
    border: 2px solid pink;
}
button{
    margin-left: 52%;
}
