.loginForm{
    border: 2px solid black; 
    padding: 10px; 
}

.main{
    width: 500px; 
}

.formbutton{
    padding: 10px; 
    color: white; 
    background-color: steelblue;
    border: none; 
    border-radius: 8px; 
}

.error{
    color: red; 
}