@import '~bootstrap/dist/css/bootstrap.min.css';
.loginForm{
    padding: 10px; 
}

.main{
    font-size: 1.5rem;
    margin-top: 5%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: top;
    width: 500px; 
}

.error{
    color: red; 
}
.btn{
    width: 80px;
    margin-left: 14px;
    
    
}